#app {
  font-family: "Nunito Sans", sans-serif;
  color: #2c3e50;
  font-size: 14px;
  background: #fff;
  margin: 0px;
  transition: margin 0.3s ease-in-out;
}
.shiftContent {
  margin-left: 250px;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
img {
  width: 100%;
  height: auto;
}