#app {
  font-family: "Nunito Sans", sans-serif;
  color: #2c3e50;
  font-size: 14px;
  background: #fff;
  margin: 0px;
  transition: margin 0.3s ease-in-out;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
img {
  width: 100%;
  height: auto;
}
header {
  position: sticky!important;
  top: 0;
  z-index: 101;
}
button a {
  color: #ffffff !important;
  display: block;
}
.p-b-20 {
  padding-bottom: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-t-20 {
  padding-top: 20px;
}
.card-group .card {
  max-width: 25%;
}
.card-deck .card {
  max-width: calc(25% - 30px);
}
.col-md-4 {
  float: left;
}